* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Slab", serif;
    background: linear-gradient(to bottom, #F3B700, #F63E02);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.weather-container {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    max-height: 990px; 
    max-width: 940px;
    border: 2px solid #FF6201;
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
}


.weather-container::-webkit-scrollbar {
    width: 6px; /
}

.weather-container::-webkit-scrollbar-track {
    background-color: rgba(255, 110, 0, 0.3); 
    border-radius: 10px;
}

.weather-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 110, 0, 0.5); 
    border-radius: 10px;
}

.search-container {
    position: relative;
    margin-bottom: 20px;
}

#search-input {
    padding: 15px;
    border: 2px solid #F3B700;
    border-radius: 10px;
    width: 300px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

#search-input::placeholder {
    color: #ffffff;
}

#search-btn {
    padding: 15px 30px;
    background-color: #F63E02;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

#search-btn:hover {
    background-color: #FF6201;
}

.weather-info,
.current-weather,
.forecast,
.search-history {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    border: 2px solid #F3B700;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.hidden {
    display: none;
}

.forecast-items {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.forecast-item {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #FF6201;
    border: 2px solid #FF6201;
    color: #ffffff;
}

.history-list {
    list-style-type: none;
    padding: 0;
}

.history-list li {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #F63E02;
    border-radius: 10px;
    border: 2px solid #F63E02;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.history-list li:hover {
    background-color: #FF6201;
}

.search-message {
    color: #F3B700;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.current-weather .weather-details h2,
.forecast h3 {
    color: #FF6201;
}

.current-weather .weather-details p,
.forecast-item p {
    color: #ffffff;
}

@media (max-width: 768px) {
    .weather-container {
        max-width: 100%;
        padding: 10px;
    }

    .search-container {
        flex-direction: column;
    }

    #search-input {
        width: 100%;
        margin-bottom: 10px;
    }

    #search-btn {
        width: 100%;
        margin-left: 0;
    }

    .current-weather,
    .forecast,
    .search-history {
        padding: 15px;
    }
}